.w970{width:970px;}
.h150{height:150px;}
.h50{height:50px;}
.h500{height:500px;}
.center{margin:0 auto;}
.bosluk {margin-top:19px}
.h130{height:130px;}
.h1000{height:1000px;}
.h512{height:512px;}